html {
  background: black;
  color: white;
  font-family: monospace, monospace;
  text-align:center;
}

a, button, textarea {
  text-align: center;
  color: white;
  background:#1a1a1a;
  text-decoration: none;
  padding: -69px; /* lmao? */
}

a:hover, button:hover {
  text-decoration: underline;
}

a:hover, button:hover, textarea:hover { /* 👀 */
  font-size: 6969px;
  transition: 2323s;
}